In [1]:
try:
  # Use the Colab's preinstalled TensorFlow 2.x
  %tensorflow_version 2.x 
except:
  pass

In [8]:
#!pip install fastavro
!pip install tensorflow-io==0.9.0

ERROR: Could not find a version that satisfies the requirement tensorflow-io==0.9.0 (from versions: 0.13.0, 0.14.0, 0.15.0, 0.16.0, 0.17.0, 0.17.1, 0.18.0, 0.19.0, 0.19.1, 0.20.0, 0.21.0, 0.22.0, 0.23.0, 0.23.1, 0.24.0, 0.25.0, 0.26.0, 0.27.0)
ERROR: No matching distribution found for tensorflow-io==0.9.0

In [12]:
from glob import glob
from google.cloud import bigquery
from google.oauth2 import service_account

# 서비스 계정 키 JSON 파일 경로
key_path = glob("./config/privatekey.json")[0]

# credentials 객체 생성
credentials = service_account.Credentials.from_service_account_file(key_path)

In [13]:
# GCP 클라이언트 객체 생성
client = bigquery.Client(credentials=credentials, project=credentials.project_id)

In [16]:
# 데이터 조회 쿼리 / ' 사용하면 에러발생    ` 사용할 것
sql = f"""
SELECT
  name, gender,
  SUM(number) AS total
FROM
  `bigquery-public-data.usa_names.usa_1910_2013`
GROUP BY
  name, gender
ORDER BY
  total DESC
LIMIT
  10
"""

# 데이터 조회 쿼리 실행 결과
query_job = client.query(sql)

# 데이터프레임 변환
df = query_job.to_dataframe()
df.head()

      name gender    total
0    James      M  4924235
1     John      M  4818746
2   Robert      M  4703680
3  Michael      M  4280040
4  William      M  3811998